html {
  scroll-behavior: smooth;
}

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-size:10px;
  text-decoration:none;   
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-style: normal;
}

nav {
  background: linear-gradient(135deg, #1E3A8A, #0F172A);
  padding: 15px 40px;
  font-size: 25px;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  box-sizing: border-box;
}

#logo {
  height: 60px;
  width: auto;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
}

nav a:hover {
  
      
  transition: all 0.4s ease;
  border-bottom: #f8fafc 3px solid;
  padding-bottom: 6px;  
 

}


.seccion {
  text-align: center;
  min-height: 100vh;
  padding-top: 100px; 
  box-sizing: border-box;
}


#Home {
  background: url("../img/img_6.png") no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-shadow: 2px 2px 4px black;
}


#Home div {
  background-color:  rgba(31, 41, 55, 0.8);;
  backdrop-filter: blur(2px);
  width:  100 px;
  height: 100 px;
  place-items: center;
  padding: 60px 60px;
  border-radius: 20px;
}
#Home h1 {
  font-size: 60px;
  margin-bottom: 15px;
  
}

#Home p {
  font-size: 22px;
  max-width: 700px;
}

/* ABOUT US */
#about_us {
  background: #1F2937;
  color: white;
  padding: 100px 20px;
}


#about_us h2 {
  font-size: 40px;
  margin-bottom: 40px;
}

#about_us .container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; 
  gap: 30px;
}


#about_us .card {
  background: #60A5FA;
  border-radius: 10px;
  padding: 20px;
  width: 250px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  transition: transform 0.2s;
}

#about_us .card:hover {
  transform: scale(1.05);
}

#about_us .card img {
  width: 100%;
  height: 280px;            
  object-fit: cover;      
  object-position: center;  
  border-radius: 10px;
  margin-bottom: 1rem;
  
}


#about_us .card h3 {
  font-size: 20px;
  margin: 10px 0 5px;
}

#about_us .card p {
  font-size: 16px;
  margin: 0;
}
#about_us .card .linkedin {
  display: inline-block;
  margin-bottom: 10px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  border-left: 2px solid white;
  padding: 10px;
}


/*eventos*/

#eventos {
  background: #f8fafc;
  color: white;
  padding: 100px 20px;
}

#eventos {
  background: #f8fafc;
  color: #111827;
  padding: 100px 20px;
  text-align: center;
}

#eventos h2 {
  font-size: 40px;
  color: #2563eb;
  margin-bottom: 50px;
}

.contenedor-eventos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}


.evento {
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  width: 250px;
  padding-bottom: 20px;
  transition: transform 0.2s;
}

.evento:hover {
  transform: scale(1.05);
}

.evento img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}


.evento h3 {
  color: #1e3a8a;
  margin: 15px 0 10px;
  font-size: 20px;
}

.evento p {
  font-size: 16px;
  color: #374151;
  padding: 0 15px;
  margin-bottom: 20px;
}

/* Boton */
.boton {
  background: #60a5fa;
  color: white;
  text-decoration: none;
  padding: 10px 25px;
  border-radius: 10px;
  font-weight: bold;
  transition:  0.3s;
  font-size: 20px;
}

.boton:hover {
  background: #2563eb;

}
/* responsive */
@media (max-width: 768px) {
  .contenedor-eventos {
    flex-direction: column;
    align-items: center;
  }

  .evento {
    width: 80%;
  }
}



/* CONTACTO */

#contacto {
  background: #1F2937;
  color: white;
  padding: 80px 20px;
  text-align: center;
}

#contacto h2 {
  font-size: 40px;
  color: #60A5FA;
  margin-bottom: 30px;
}

#contacto p {
  font-size: 18px;
  margin: 10px 0;
}

#contacto a {
  color: #60A5FA;
  text-decoration: none;
  font-weight: 600;
}

#contacto a:hover {
  color: #93C5FD;
  text-decoration: underline;
}
/* FOOTER */

footer {
  background: linear-gradient(135deg, #1E3A8A, #0F172A);
  color: #E5E7EB;
  text-align: center;
  padding: 4rem 2rem;           
  font-size: 1.5rem;           
  letter-spacing: 0.6px;
  line-height: 2;               
  box-shadow: 0 -4px 20px rgba(0, 0, 0, 0.5);
}

.footer-container {
  max-width: 2000px;
  margin: 0 auto;
}

.footer-info p {
  margin: 25px 0;
}

.footer-info a {
  color: #60A5FA;
  text-decoration: none;
  font-weight: 850;            
  font-size: 1.7rem;           
  transition: color 0.3s ease, text-shadow 0.3s ease;
}
