html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

nav {
  background: #60A5FA;
  padding: 15px 40px;
  font-size: 25px;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  box-sizing: border-box;
}

#logo {
  height: 50px;
  width: auto;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
}

nav a:hover {
  
  font-size: 30px;     
  transition: all 0.3s ease;  
 

}


.seccion {
  text-align: center;
  min-height: 100vh;
  padding-top: 100px; 
  box-sizing: border-box;
}


#Home {
  background: url("../img/img_6.png") no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-shadow: 2px 2px 4px black;
}


#Home div {
  background-color:  rgba(31, 41, 55, 0.8);;
  backdrop-filter: blur(2px);
  width:  100 px;
  height: 100 px;
  place-items: center;
  padding: 60px 60px;
  border-radius: 20px;
}
#Home h1 {
  font-size: 60px;
  margin-bottom: 15px;
  
}

#Home p {
  font-size: 22px;
  max-width: 700px;
}

/* ABOUT US */
#about_us {
  background: #1F2937;
  color: white;
  padding: 100px 20px;
}

#about_us {
  background: #1F2937;
  color: white;
  padding: 100px 20px;
  text-align: center;
}

#about_us h2 {
  font-size: 40px;
  margin-bottom: 40px;
}

#about_us .container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; 
  gap: 30px;
}


#about_us .card {
  background: #60A5FA;
  border-radius: 10px;
  padding: 20px;
  width: 250px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  transition: transform 0.2s;
}

#about_us .card:hover {
  transform: scale(1.05);
}

#about_us .card img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
}


#about_us .card h3 {
  margin: 10px 0 5px;
}

#about_us .card p {
  font-size: 16px;
  margin: 0;
}




#eventos {
  background: #f8fafc;
  color: white;
  padding: 100px 20px;
}

#contacto {
  background: #656668;
  color: white;
  padding: 100px 20px;
}
