html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

nav {
  background: #1F2937;
  padding: 15px 40px;
  font-size: 25px;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  box-sizing: border-box;
}

#logo {
  height: 50px;
  width: auto;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
}

nav a:hover {

  
  text-shadow:  0 2px 3px #60A5FA;

}


.seccion {
  text-align: center;
  min-height: 100vh;
  padding-top: 100px; 
  box-sizing: border-box;
}


#Home {
  background: url("../img/img_5.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-shadow: 2px 2px 4px black;
}

#Home h1 {
  font-size: 60px;
  margin-bottom: 15px;
}

#Home p {
  font-size: 22px;
  max-width: 700px;
}


#about_us {
  background: #1F2937;
  color: white;
  padding: 100px 20px;
}

#eventos {
  background: #60A5FA;
  color: white;
  padding: 100px 20px;
}

#contacto {
  background: #656668;
  color: white;
  padding: 100px 20px;
}
